header{
  height:80px;
  color: white;
  background-color: rgb(50,80,150);
}
.container{
  width: 1170px;
  margin:0 auto;
}
.title{
  font-weight: normal;
  line-height: 80px;
  text-align: center;
}
.main{
  padding-top:30px;
}
.ilust{
  text-align: center;
}
