header{
  width: 100%;
  height:80px;
  color: white;
  background-color: rgba(50,80,150,0.8);
  position: fixed;
  top:0;
  left:0;
}
.container{
  width: 1170px;
  margin:0 auto;
}
.title{
  font-weight: normal;
  text-align: center;
}
.main{
  background-color: #f7f7f7;

  margin-top: 80px;
  padding:80px 15px;
  height: 724px;
}
.ilust{
  width: 100%;
  border: 2px solid #e5e5e5;
    text-align: center;
}
.main p{
  color:#999;
  font-size: 20px;
}
body{
  margin:0;
}
